.navbar {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    transition:0.5s all ease;
}
.navbar.active{
    background: #fff;
    position: -webkit-sticky;
    position: fixed;
    top:0;
    width: 100%;
    height:110px;
    box-shadow: 0px 15px 25px -15px var(--blue2Color);
    z-index: 20;

}
  
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    max-width: 1500px;
    padding:0px 50px;
}
.nav-menu{
    display: flex;
    list-style: none;
    text-align: center;    
}
.nav-links {
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    height: 100%;
    border-bottom: 3px solid transparent;
    font-family: var(--textFamily);
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    color: var(--blueColor);
    transition: 0.4s all ease   
}
.nav-links:hover{
    color:var(--blue2Color);
}

.nav-item {
    line-height: 75px;
}
.nav-item .active {
    color: var(--blue2Color);
    border-top:3px solid var(--yellowColor);
    padding-top:25px;
    /* padding: 2rem 1rem; */
}
.sub-item, .nav-icon, .plus{
    display: none;
}
.nav-icon{
    color: var(--blue2Color);
    font-size: 30px;
}
.hover-dropdown{
    display: none;
    position:absolute;
    min-width: 160px;
    z-index: 1;
    text-align:left;
    top: 95px;
    list-style: none;
    line-height: 30px;
    margin:0;
    padding:0;
    
}
.hover-dropdown li{
    background: var(--blue2Color);
    width:100%;
}
.hover-dropdown .nav-links{
    padding: 10px 10px;
    width:100%;
    transition: 0.4s all ease;
    color:#fff;
}
.hover-dropdown .nav-links:hover{
   color:rgb(103, 166, 185);
   width: 100%;
}
.nav-item:hover .hover-dropdown{
    display: block;
}
@media screen and (max-width: 1000px){
    .nav-icon{
        display: block;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 1px solid #fff;
        position: absolute;
        top: 100px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
        text-align: left;
    }
    
    .nav-menu.active {
        background: var(--blue2Color);
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      
      }
      .nav-item .active {
        color: #fff;
        border: none;
      }
      .nav-links {
        padding: 0.5rem;
        width: 100%;
        display: table;
      }
      .nav-item {
        line-height: 15px;
        }
        .nav-links:hover{
            background: rgb(190, 228, 240);
            color:#fff;
          }
    
      /* code for the dropdown */
      .sub-item{
          height:0;
          position: relative;
      }
       .sub-item.active{
          display:block;
          height:100%;
          top:0;
      }
      .sub-item ul{
          list-style: none;
      }
      .plus{
        display:inline;
        text-align:right;
        color:#fff;
        font-size: 20px;
        transition: 0.4s all ease;
        margin-right: 15%;
    }
    .nav-links:hover .plus{
        transform: rotate(45deg);
        color: #fff;
        font-size: 23px;
    }
    .nav-dropdown{
        display: flex;
        justify-content: space-between;
    }
    .hover-dropdown{
        display: none;
    }
    .nav-item:hover .hover-dropdown{
        display: none;
    }
}