*{
  margin:0;
  padding:0;
}

:root{
  --textFamily:'Open Sans', sans-serif;
  --deepblack: #24272b;
  --blueColor:rgb(26, 26, 151);
  --blue2Color:rgb(160, 208, 223);
  --yellowColor: #bcd631;
}
.line{
  width: 100px;
  border-top: 3px solid #d4f51b;
  margin-bottom: 50px;
  z-index: 20;
  opacity:1;
}